player-connection-mode=Connect
player-connection-guid=2852750380
player-connection-debug=1
player-connection-project-name=Kids game
player-connection-wait-timeout=-1
player-connection-ip=10.95.48.30
profiler-enable=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
